body {
  font-size: 1rem;
  font-family: 'Sigmar One', cursive;
}

h1 {
  font-size: 3rem;
  font-family: 'Leckerli One', cursive;
  font-weight: bold;
}

header {
  background: #0E3B43;
  color: #E8EBF7;
}

h3 {
  font-size: 7rem;
  font-size: 24vmin;
  overflow-y: hidden;
}

body {
  width: 100%;
  max-width: 49rem;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  background-color: #E8EBF7;
}

button {
  cursor: pointer;
  outline: none;
}

.row {
  margin: auto;
  position: relative;
  margin-top: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.app_btn {
  background-color: #27A6BC;
  border: none;
  color: #E8EBF7;
  height: 3rem;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  box-sizing: border-box;
}

.app_btn:hover,
.active {
  background-color: #0E3B43;
}

.btn_mode {
  width: 32%;
}

.btn_next {
  width: 100%;
  max-width: 20rem;
}

.invisible {
  display: none;
}

.css_btn {
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  background: transparent;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #27A6BC;
}

.btn_menu {
  line-height: 3.2rem;
  font-size: 3.2rem;
  border: none;
  text-align: center;
}

.btn_play {
  height: 4rem;
  width: 4rem;
  margin-left: 1.5rem;
  border-color: transparent transparent transparent #27A6BC;
  transition: 100ms all ease;
  border-style: solid;
  border-width: 2rem 0 2rem 4rem;
}

.btn_pause {
  border-style: double;
  border-width: 0 0 0 3rem;
}

.btn_reset {
  width: 3rem;
  height: 3rem;
  border: .5rem solid;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-color: #27A6BC;
  border-bottom-color: #27A6BC;
  border-left-color: #27A6BC;
  border-right-color: transparent;
  position: relative;
}

.btn_reset:after {
  content: "";
  width: 0;
  height: 0;
  border-width: .75rem .75rem 0 .75rem;
  border-style: solid;
  border-color: #27A6BC transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -.75rem;
  transform: rotate(-45deg);
}

.btn_reset:active {
  -webkit-animation: spin .5s linear infinite;
  -moz-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal {
  z-index: 1;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.menu {
  width: 80%;
  max-width: 35rem;
  background-color: #E8EBF7;
  margin: 4% auto;
  /* 15% from the top and centered */
}

.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  line-height: 3.2rem;
  font-size: 3.2rem;
  border: none;
  text-align: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.setting {
  font-size: 2rem;
  text-justify: auto;
}

.dropdown {
  font-size: 1.5rem;
}

.optional {
  display: inline-block;
}

@media (max-width: 500px) {
  .optional {
    display: none;
  }
}