body {
  font-size: 1rem;
  font-family: 'Sigmar One', cursive;
}

h1 {
  font-size: 3rem;
  font-family: 'Leckerli One', cursive;
  font-weight: bold;
}

h3 {
  font-size: 7rem;
  font-size: 24vmin;
  overflow-y: hidden;
}

body {
  width: 100%;
  max-width: 49rem;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  background-color: #E8EBF7;
}

button {
  cursor: pointer;
  outline: none;
}

.web_app {
  border-color: rgba(0, 0, 0, .2);
  border-width: 1px;
  border-style: solid;
}

.row {
  margin: auto;
  position: relative;
  margin-top: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.app_btn {
  background-color: #27A6BC;
  border: none;
  color: #E8EBF7;
  height: 3rem;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  box-sizing: border-box;
}

.app_btn:hover,
.active {
  background-color: #0E3B43;
}

.btn_mode {
  width: 32%;
}

.btn_next {
  width: 100%;
  max-width: 20rem;
}

.btn_menu {
  background-color: F13A16;
  color: black;
  border: solid;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
}

.invisible {
  display: none;
}

.css_btn {
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  background: transparent;
}

.btn_play {
  height: 3rem;
  width: 3rem;
  border-color: transparent transparent transparent #27A6BC;
  transition: 100ms all ease;
  /*will-change: border-width;*/
  border-style: solid;
  border-width: 1.5rem 0 1.5rem 3rem;
}

.btn_pause {
  border-style: double;
  border-width: 0 0 0 3rem;
}

.btn_reset {
  width: 3rem;
  height: 3rem;
  border: .5rem solid;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-color: #27A6BC;
  border-bottom-color: #27A6BC;
  border-left-color: #27A6BC;
  border-right-color: transparent;
  position: relative;
}

.btn_reset:after {
  content: "";
  width: 0;
  height: 0;
  border-width: .75rem .75rem 0 .75rem;
  border-style: solid;
  border-color: #27A6BC transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -.75rem;
  transform: rotate(-45deg);
}

.btn_reset:active {
  -webkit-animation: spin .5s linear infinite;
  -moz-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}